
<div  class="container mt-2">
    <div class="row">
        <div class="col-4">
            <h2>{{ shows.name }}</h2>
            <img [src]="shows.image.medium" alt="">
        </div>
        <div class="col-5">
            <h2>Summary</h2>
            <p [innerHTML]="shows.summary"></p>
        </div>
        <div class="col-3">
            <h2>Info</h2>
            <p>Network: <a [href]="shows.network.officialSite" target="_blank">{{ shows.network.name }}</a></p>
        </div>
    </div>    
</div>
