
<h2 class="text-center m-3">Episode :</h2>

<div *ngFor="let episode of episodes">
  <div class="row row-cols-2 m-3">
    <div class="col-4">
      <img src="{{episode.image.medium}}" class="" alt="">
    </div>
    <div class="col-6">
      <h2>{{episode.name}}</h2>
    </div>
  </div>
</div>

<!-- <div *ngIf="episodesBySeason | async as episodesBySeason">
  <div *ngFor="let season of episodesBySeason | keyvalue">
    <h2>Season {{ season.key }}</h2>
    <ul>
      <li *ngFor="let episode of season.value">
        {{ episode.name }}
      </li>
    </ul>
  </div>
</div>  -->

